
  /* ==========================================================================
     #BACKGROUND
     ========================================================================== */
  /* @font-face {
      font-family: Muli-Bold;
      src: url('{{ public_path('fonts/Muli-Bold.tff') }}');
  } */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif; */
    /* font-family: "Montserrat",sans-serif; */
    /* font-weight : 700; */
    font-family: "Montserrat",sans-serif;
    /* font-weight: 300; */
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    /* color : #1E3067; */
    /* color : #11132b; */
  }

  .bg {
    /* background: url("../img/close-up-airplane-wing.jpg") center center/cover no-repeat; */
    background : linear-gradient( rgba(153, 0, 204, 0.45), rgba(153, 0, 204, 0.45)),url('../img/wb-bg.jpg');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .bg-officer {
    /* background: url("../img/close-up-airplane-wing.jpg") center center/cover no-repeat; */
    /* background : linear-gradient( rgba(115, 115, 115, 0.45), rgba(115, 115, 115, 0.45)),url('../img/wb-bg.jpg'); */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    /* background-color: #f0f0f0; */
    /* background-color: grey; */
    background-color: #f2f2f2;
  }
  /*List 
  */
  .search-container{
    display : flex;
  }

  .search-wrapper{
      display : flex;
      column-gap : 0.5rem;
  }

  .left{
      width : 70%;
  }

  .right{
      width : 30%;
  }

  .search-input-wrapper,.print-btn-wrapper,.search-btn-wrapper{
    display : flex;
    column-gap : 0.5rem;
  }

  .check-my-submission-wrapper{
    justify-content: space-between;
  }

  .pagination-container{
      display : flex;
      justify-content: space-between;
  }

  .th-wrapper{
      display:flex;
      column-gap : 0.5rem;
      align-items : center;
      /* text-wrap: wrap; */
      word-wrap: break-word;
  }

  .th-icon-wrapper{
      min-width : 20px;
  }

  .th-text{
      /* max-width : 100px; */
  }

  .sort-icon{
      color : #cccccc;
  }

  .active-icon{
      color : grey;
  }


  .table > thead, .table > tbody{
      font-size : 16px;
  }

  /*End of list*/

  /* .form-select{
    border: 1px solid #002169!important;
    border-radius: 0!important;
  }

  .form-check-input[type=checkbox]{
    border: 1px solid #002169!important;
    border-radius: 0!important;
  }

  .form-control{
    border: 1px solid #002169!important;
    border-radius: 0!important;
  } */

  /* .accordion{
    font-weight: 700;
  }

  .accordion-body{
   font-weight : 700; 
  } */

  label {
    font-style: normal;
  }
  
  .wb-text{
    font-weight : 500;
    font-size: 16px;
  }

  .wb-title{
    font-size : 18px;
  }
  
  .wb-text-italic{
      font-style : italic;
  }

  .input-border-color-hrd-theme{
    border-color: #002169;
  }

  .textarea-setting{
    min-height: 150px!important;
  }

  .form-check-input:checked {
    background-color: #002169;
    border-color: #002169;
}

  /* .card-header{
    background-color: #002169!important;
  } */

  .card-body{
    background-color: #FFFFFF!important;
  }

  .card-header, .card-body{
    font-size : 16px;
    /* font-weight: 700; */
  }

  .container-wrapper{
    /* min-height: 500px; */
    /* padding-top: 100px; */
    margin-top:8rem;
    padding : 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
    min-height: 80vh;
  }

  
  .hide{
    display: none !important;
  }

  .btn.btn-primary{
    background-color: #0d6efd;
  }

  .hrd-card-header-text{
    font-size: 18px;
  }

  .btn-hrd-theme{
    background-color: #002169!important;
    border: 1px solid #002169;
    margin-bottom : 0.2rem;
    
  }

  .action-btn-custom{
    min-width: 120px;
  }

  .link-hrd-theme{
    color : #002169!important;
  }

  .hrd-acc-btn-header{
      color: #ffffff !important;
      background-color: #002169 !important;
  }

  .page-link{
    background-color: #ffffff;
    color: #002169;
  }

  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #002169;
    border-color: #002169;
  }

  .declare-label{
    font-style: normal;
  }

  .declare-lang{
    font-style: italic;
  }

  .card {
    background: rgba(255, 255, 255, 0.8);
  }

  .container-1 {
    text-align: center;
    padding-top: 20px;
  }

  .container-2 {
    width: 1000px;
    padding-bottom: 200px;
  }

  .container-3 {
    width: 1200px;
    padding-bottom: 200px;
  }

  .container-4 {
    width: 600px;
    padding-bottom: 200px;
  }

  .container-5 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .container-6 {
    text-align: center;
    height: 500px;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  @media screen and (max-width: 750px) {
    /* .container-wrapper{
      padding-top : 12rem;
      padding-bottom : 6rem;
    } */
    
  }

  @media (max-width: 1000px) {
    .container-2 {
      width: auto;
    }
  }

  .centerz {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    .login-container {
      width: 600px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .login-container {
      width: 600px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .login-container {
      width: 600px;
    }
  }

  @media screen and (min-width: 1400px) {
    .login-container {
      width: 600px;
    }
  }

  footer {
      text-align: center;
      padding: 3px;
  }
  
  
  
  
  
  
  
